@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Work+Sans:wght@300;400;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* body{
    max-width: 1200px;
} */
/* Header and banner */

.header{
    background-image: url(/img/bg.jpg),linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,0));
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    

}

.nav-items{
    display: flex;
    padding: 30px 280px;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background:linear-gradient(rgba(0, 0, 0, 0.507), rgba(0,0,0,0)) ;
}

.nav-item{
    font-size: 17px;
    font-weight: 550;
    color: whitesmoke;
    cursor: pointer;
}

.nav-item:hover{
    color: rgb(247, 223, 8);

}

.intro{
    justify-content: center;
    text-align: center;
    padding-top: 18%;
}

.res-name{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 40px;
}

.btn-primary{
    font-size: 24px;
    padding: 10px;
    border: 2px solid rgb(247, 223, 8);
    background-color: transparent ;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.btn-secondary{
    font-size: 16px;
    font-weight: 550;
    margin-top: 15px;
    padding: 5px;
    border: 2px solid rgb(247, 223, 8);
    background-color: transparent ;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(247, 223, 8);

}

/* Specials section  */
.specials{
    text-align: center;
    margin: 50px;
}

.section-title, .chef-title{
    padding: 30px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}
span{
    color: rgb(247, 223, 8);
}
.special-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 20px 90px;
   
}
.item{
    width: 250px;
    height: 400px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 5px;
    margin: 0 20px;
}
.item-title{
    padding-bottom: 10px;
}
.item-img{
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
}


/* Our Story section */
.our-story, .main-chef{
   display: flex;
   gap: 80px;
   padding: 8%;
   background-color: whitesmoke;
   margin-top: 150px;
}

.res-img{
    width: 40%;
    border-radius: 10px;
}
.story-description{
    padding: 10px;
    line-height: 20px;
    font-size: 18px;
}


/* Menu */
#menu{
    background-color: rgba(211, 211, 211, 0.089);
}

.menu-title{
    text-align: center;
    margin-top: 100px;
}
.startersAndMain, .dinnerAndDesert{
    padding: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.breakfast, .dinner, .desert, .main{
    width: 40%;
    padding: 2%;
}

.menu{
    text-align: center;
    font-weight: 550;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(247, 223, 8);
    width: fit-content;
}

.menu-item{
    margin: 20px 5px;

}
.menu-name{
    margin-bottom: 30px;
    font-weight: 550;
}
.menu-des{
    margin-bottom: 30px;
}
.breakfast-items{
    display: flex;
    gap: 100px;
}
.price{
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 18px;
}

/* Desh Item */

.desh-items{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);

    
}

.desh-item{
    width: 100%;
}

/* Main Chef */

.main-chef{
    text-align: left;
   
}
.chef-img{
    border-radius: 20px;
    width: 25vw;

}

/* Footer */

.footer{
    background-color: #28282B;
    height: 80vh; 
}
.footer-info{
    
    /* padding: 20px; */
    padding-top:20px ;
    padding-left:20px ;
    padding-right:20px ;
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;

}

.reservation, .address, .opening{

    margin-top: 100px;
    

}

.footer-title {
    font-size: 24px;
    color: whitesmoke;
    font-weight: 450;
    text-align: center;
    border-bottom: 1px solid rgb(247, 223, 8);
    
}

.footer-description{
    color: rgba(245, 245, 245, 0.726);
    text-align: center;
    margin-top: 15px;
}

.form-container{
    margin: 50px auto;
    text-align: center;
}

.form-title{
    font-size: 24px;
    color: whitesmoke;
    font-weight: 450;
    text-align: center;
    margin-top: 90px;
   
}
.form{
    padding: 20px;
}
input[type="text"], input[type="email"]{
    width: 350px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #4c4c4d;
}

textarea{
    margin: 20px 0;
    width: 710px;
    border: none;
    background-color: #4c4c4d;
}
input::placeholder{
    color: whitesmoke;
}

textarea::placeholder{
    color: whitesmoke;
    padding: 10px;
}


/* Media Query */

@media screen and (max-width:668px){


    .nav-items{
        padding: 30px 50px;
    }

    .nav-item{

        font-size: 15px;
        font-weight: 550;

    }

    .intro{
        justify-content: center;
        text-align: center;
        padding-top: 60%;
    }

    .special-items{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-content: center;
    }
    .item{
        margin-bottom: 30px;
        margin-left: 60px;
    }

    .our-story, .main-chef{
        flex-direction: column;
    }
    .res-img, .chef-img{
          width: 100%;
    }
    .startersAndMain, .dinnerAndDesert{
        flex-direction: column;
    }
    .breakfast, .dinner, .desert, .main{
        width: 80%;
        padding: 2%;
    }
    .price{
        margin-top: 20px;
        margin-bottom: 160px;
        font-size: 18px;
    }
    
.footer{
    background-color: #28282B;
    height: 110vh; 
}
    .footer-info{
        flex-direction: column;
       gap: 5px;
    }

    textarea{
        
        width: 350px;
       
    }

    .desh-items{
        grid-template-columns: repeat(2, 1fr);
    
    }
    
    .desh-item{
        width: 100%;
    }

}

@media screen and (min-width:667px) and (max-width: 992px){

    .nav-items{
        padding: 30px 50px;
    }

    .intro{
        justify-content: center;
        text-align: center;
        padding-top: 45%;
    }
   
    .special-items{
        grid-template-columns: repeat(2,1fr);       
        align-items: center;
        justify-content: center;
       
    }

    .item{
        margin-bottom: 30px;
        
    }

    .our-story, .main-chef{
        flex-direction: column;
    }
    .res-img, .chef-img{
          width: 80%;
    }

    .breakfast, .dinner, .desert, .main{
        width: 50%;
        padding: 2%;
    }

    .price{
        margin-top: 20px;
        margin-bottom: 170px;
        font-size: 18px;
    
    }
    .desh-items{
        grid-template-columns: repeat(2, 1fr);
    
    }
    
    .desh-item{
        width: 100%;
    }

    .footer{
        background-color: #28282B;
        height: 110vh; 
    }
        .footer-info{
            flex-direction: column;
           gap: 5px;
        }
    
        textarea{
            
            width: 350px;
           
        }
    
    

   


}